body {
    background:rgba(88, 140, 252, 0.787); /* Neutral gray background */
    font-family: 'Roboto', sans-serif; /* Consistent font */
    color: black; /* High contrast text */
    margin: 0;
    padding: 0;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

h3, ul, button {
    font-weight: bold; /* Bold typography */
    text-align: center; /* Central alignment */
    color: rgba(88, 140, 252, 0.787); /* Blue color */
}

h1 {
    font-size: 40px;
    background-color: black;
    color: white;
    margin: 0;
    padding: 20px 0; /* Increased padding */
    animation: fadeIn 1s ease-in;
}

h2 {
    font-size: 40px;
    color: rgba(255, 0, 0, 0.787);
    margin: 0;
    padding: 20px 0; /* Increased padding */
    animation: fadeIn 1s ease-in;
}

p{
    font-weight: lighter; /* Bold typography */
    text-align: center; /* Central alignment */
    color: rgba(88, 140, 252, 0.787); /* Blue color */
}

h4 {
    color: #f0f0f0;
    font-size: 20px;
    margin-left: 50px;

}

label {
    /* Add your styles here */
    font-weight: bold;
    color:white;
    /* Add any other styles you want */
}

button {
    background-color: white;
    color: rgba(255, 0, 0, 0.787); /* Red color for text */
    border: 3px solid rgba(255, 0, 0, 0.787); /* Thicker, red border */
    padding: 15px 30px; /* Increased padding */
    margin: 15px; /* Consistent margin */
    cursor: pointer; /* Cursor change to indicate interactivity */
}

#municipalityDropdown {
    background-color: white;
    color: rgba(255, 0, 0, 0.787); /* Red color for text */
    border: 3px solid rgba(255, 0, 0, 0.787); /* Red border */
    padding: 15px 30px;
    margin: 15px;
    text-align: left;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
@keyframes fadeIn {
    0% {
        opacity: 0; /* Start with opacity 0 (fully transparent) */
    }
    100% {
        opacity: 1; /* End with opacity 1 (fully visible) */
    }
}
.slide {
    background-color: white;
    border: 4px solid black; /* Bolder border */
    padding: 40px; /* Increased padding */
    margin: 30px auto; /* Increased margin */
    animation: fadeIn 1s ease-in;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}
.slide{
    display: none;
}
.active {
    display:block;

}

.style-box {
    background-color: black; /* Blue background */
    color: white; /* High contrast */
    border: none; /* Simplified, no border */
    padding: 15px 30px;
    margin: 20px 0;
}

.video-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Adjust the height as needed */
    background-color: #f0f0f0; /* Optional background color for the container */
}

/* Style the embedded YouTube iframe as needed */
.video-container iframe {
    max-width: 100%; /* Ensure the video scales with the container */
}    

#map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    height: 450px; /* Adjusted height */
    width: 80%; /* Adjusted width */
    border: 5px solid black; /* Bold border */
    border-radius: 0; /* Square corners */
    margin-top: 30px;
    margin-left: 100px;
}